:root {
  font-size: 16px;
}

body {
  opacity: 0;
}

p.h1,
h1,
p.h2,
h2,
p.h3,
h3,
p.h4,
h4,
p.h5,
h5,
p.h6,
h6 {
  font-family: Helvetica;
  color: $text;
}

a,
p,
div,
input,
button,
textarea {
  font-family: Helvetica;
  color: $text-secondary;
}

img {
  max-width: 100%;
}

section {
  position: relative;
  padding: 8vh 0;
}

.btn.btn-primary {
  background-color: $primary;
  border-color: $primary;
  border-radius: 8px;
  padding: 10px 25px;
  color: $white;
  width: 100%;
  font-weight: 700;
}

.btn.btn-primary:hover,
.btn.btn-primary:active,
.btn.btn-primary:focus {
  background-color: $btn-hover !important;
  border-color: $btn-hover !important;
  box-shadow: none !important;
}

.form-control:focus {
  border-color: $primary;
  outline: 0;
  box-shadow: 0 0 0 4px #{$primary}#{40};
}

// --------------------arrows-swiper--------------------

.swiper-button-next,
.swiper-button-prev {
  opacity: 0.6;
  transition: opacity 0.2s ease-in-out;
  &:hover {
    opacity: 1;
  }
}
