$primary: #f47920;
$secondary: #fafb02;
$text: #12446e;
$text-secondary: #425762;
$text-hover: #191920;
$btn: #a3a3a3;
$btn-hover: #a3a3a3;

$white: #ffffff;
$black: #000000;

$lightestgrey: #f5f5f5;
$lightestgreyb: #f4f4f4;

$darkgrey: #86888c;
$darkergrey: #50535a;
$darkestgrey: #313235;

$blue: #013398;
$orange: #F47920;
$yellow: #FAFB02;
$grey: #E6E6E6;
$lightgrey: #E0E0E0;
$lightergrey: #D9D9D9;
$darkestgrey: #333333;
