$primary: #f47920;
$secondary: #fafb02;
$text: #12446e;
$text-secondary: #425762;
$text-hover: #191920;
$btn: #a3a3a3;
$btn-hover: #a3a3a3;

$white: #ffffff;
$black: #000000;

$lightestgrey: #f5f5f5;

$darkgrey: #86888c;
$darkergrey: #50535a;
$darkestgrey: #313235;

$blue: #013398;
$orange: #f47920;
$yellow: #fafb02;
$lightgrey: #e0e0e0;
$lightergrey: #d9d9d9;
